* {
  margin: 0;
  padding: 0;
}

/* ****************************
******** page Accueil *********
**************************** */
/* ****** header ****** */
header {
  text-align: center;
  margin-top: 5%;
  height: 50px;
}

/* ****** formulaire ****** */
#form {
  display: flex;
  flex-direction: column;
}
#form form {
  width: 100%;
  height: 400px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
#form form input {
  width: 100%;
  height: 60px;
  border: none;
  text-align: center;
  align-items: center;
  background-color: #e6e6e6;
  box-shadow: inset 0 5px 5px #cccccc;
}
#form form input::placeholder {
  font-weight: bold;
  font-size: 2vh;
  font-family: "Roboto", "sans-serif", Fontawesome;
  color: black;
}
#form form .formTxt {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5% 0 5% 0;
}
#form form .formTxt h1 {
  font-family: "Roboto", "sans-serif";
  font-size: 3vh;
  font-weight: bold;
  width: 65%;
  text-align: center;
}
#form form .formTxt p {
  font-family: "Roboto", "sans-serif";
  font-size: 2vh;
  width: 75%;
  opacity: 0.75;
}
#form form .formTxt .btn-explore {
  width: 55%;
  height: 55px;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-family: "Roboto", "sans-serif";
  font-size: 2vh;
  color: #fff;
  border: none;
  box-shadow: 5px 5px #e0e0e0;
}

/* ****** fonctionnement ****** */
h2 {
  margin-left: 15px;
  font-family: "Roboto", "sans-serif";
  font-weight: bolder;
  font-size: 2.5vh;
}

#fonctionnement {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 300px;
}
#fonctionnement .fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}
#fonctionnement .fonctionnement .div-fonctnmnt {
  height: 60px;
  width: 300px;
  border-radius: 25px;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 5px #e6e6e6;
  align-self: center;
}
#fonctionnement .fonctionnement .etape-fonctnmnt {
  display: flex;
  height: 60px;
  /*justify-content: space-around;*/
  align-items: center;
  font-size: 1.5vh;
  font-family: "Roboto", "sans-serif";
}
#fonctionnement .fonctionnement .etape-fonctnmnt .number {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 3% 0 -3%;
  text-align: center;
  background-color: #9356DC;
  color: #fff;
}
#fonctionnement .fonctionnement .etape-fonctnmnt .fa-mobile-screen-button {
  margin: 0 3% 0 3%;
  color: #838383;
  font-size: 2.5vh;
}
#fonctionnement .fonctionnement .etape-fonctnmnt .fa-list {
  margin: 0 3% 0 3%;
  color: #838383;
  font-size: 2.5vh;
}
#fonctionnement .fonctionnement .etape-fonctnmnt .fa-store {
  margin: 0 3% 0 3%;
  color: #838383;
  font-size: 2.5vh;
  color: #9356DC;
}
#fonctionnement .fonctionnement .etape-fonctnmnt .title-fonctnmnt {
  margin: 0 3% 0 3%;
}

/* ****** restaurants ****** */
main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 1250px;
}
main h2 {
  margin: 50px 0 0 20px;
}
main #articles {
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
main .restaurant {
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 15px;
  background-color: #fff;
  width: 90%;
  box-shadow: 5px 5px 5px #e6e6e6;
}
main .restaurant .img-restaurant {
  width: 100%;
  height: 180px;
  overflow: hidden;
  object-fit: cover;
  object-position: 50% 60%;
  border-radius: 15px 15px 0 0;
}
main .restaurant .new {
  z-index: 1;
  background-color: #99E2D0;
  width: 80px;
  height: 25px;
  padding-top: 1%;
  border-radius: 1px;
  margin-left: 65%;
  margin-top: 4%;
  position: absolute;
}
main .restaurant .new p {
  font-weight: bold;
  text-align: center;
  color: #217460;
  margin-top: 2px;
}
main .restaurant .restaurant-descrtn {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
main .restaurant .restaurant-descrtn h3 {
  font-family: "Roboto", "sans-serif";
}
main .restaurant .restaurant-descrtn p {
  font-family: "Roboto", "sans-serif";
}
main .restaurant .restaurant-descrtn .fa-heart {
  font-size: 3vh;
  margin-top: 2%;
}

/* ****** footer ****** */
footer {
  background-color: #353535;
  height: 200px;
}

/*# sourceMappingURL=main.css.map */
