* {
  margin: 0;
  padding: 0;
}

/* ***** variables ***** */
/* *** couleurs *** */
/* *** fonts *** */
/* *** elements *** */
/* ***** mixins ***** */
/* ***** keyframes ***** */
/* *** remplissage coeur *** */
@keyframes fill-heart {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  20% {
    transform: scale(0.2);
    opacity: 0.3;
  }
  40% {
    transform: scale(0.4);
    opacity: 0.5;
  }
  60% {
    transform: scale(0.6);
    opacity: 0.6;
  }
  80% {
    transform: scale(0.8);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}
/* *** loader *** */
@keyframes loader-full {
  0% {
    opacity: 0.8;
  }
  95% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    /*visibility:hidden;*/
  }
}
@keyframes rotate-loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes pulse-loader {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
/* *** apparition menus *** */
@keyframes menus {
  from {
    opacity: 0.5;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* *** apparition validation *** */
@keyframes valid {
  from {
    transform: translateX(80%);
    visibility: hidden;
  }
  to {
    transform: translateX(0);
    visibility: visible;
  }
}
@keyframes price {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100px);
  }
}
@keyframes check {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
/* *********************
******** loader ********
********************* */
.loader {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  width: 100%;
  height: 100vh;
  opacity: 0;
  animation: loader-full 3000ms linear;
}
.loader .circle1 {
  position: relative;
  width: 65px;
  height: 65px;
  display: inline-block;
  vertical-align: middle;
  border-top: 5px solid #9356DC;
  /*border-bottom:5px solid $primary-clr;*/
  border-radius: 65px;
  animation: rotate-loader 1000ms linear infinite;
}
.loader .circle2 {
  position: absolute;
  width: 50px;
  height: 50px;
  /*border-left:5px solid $secondary-clr;
  border-right: 5px solid $secondary-clr;*/
  border-top: 5px solid #FF79DA;
  border-radius: 50px;
  rotate: 45deg;
  animation: rotate-loader 990ms linear infinite;
}
.loader .circle3 {
  position: absolute;
  width: 35px;
  height: 35px;
  /*border-left:5px solid $secondary-clr;
  border-right: 5px solid $secondary-clr;*/
  border-top: 5px solid #99E2D0;
  border-radius: 35px;
  rotate: 90deg;
  animation: rotate-loader 980ms linear infinite;
}
.loader .fa-utensils {
  position: absolute;
  width: 20px;
  height: 20px;
  color: #9356DC;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse-loader 800ms linear alternate infinite;
}

/* ****************************
******** page Accueil *********
**************************** */
/* ****** header ****** */
header {
  text-align: center;
  margin-top: 5%;
  height: 50px;
}

/* ****** formulaire ****** */
#form {
  display: flex;
  flex-direction: column;
}
#form form {
  width: 100%;
  height: 400px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
#form form input {
  width: 100%;
  height: 60px;
  border: none;
  text-align: center;
  align-items: center;
  background-color: #e6e6e6;
  box-shadow: inset 0 5px 5px #cccccc;
}
#form form input::placeholder {
  font-weight: bold;
  font-size: 2vh;
  font-family: "Roboto", "sans-serif", Fontawesome;
  color: black;
}
#form form .formTxt {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5% 0 5% 0;
}
#form form .formTxt h1 {
  font-family: "Roboto", "sans-serif";
  font-size: 3vh;
  font-weight: bold;
  width: 65%;
  text-align: center;
}
#form form .formTxt p {
  font-family: "Roboto", "sans-serif";
  font-size: 2vh;
  width: 75%;
}

.btn-explore {
  width: 55%;
  height: 55px;
  border-radius: 30px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-family: "Roboto", "sans-serif";
  font-size: 2vh;
  color: #fff;
  border: none;
  box-shadow: 5px 5px #e0e0e0;
  align-self: center;
}
.btn-explore:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 5px 5px #bfbfbf;
}

/* ****** fonctionnement ****** */
h2 {
  margin-left: 15px;
  font-family: "Roboto", "sans-serif";
  font-weight: bolder;
  font-size: 2.5vh;
}

#fonctionnement {
  /*margin-top:40px;*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /*display:flex;
  flex-direction:column;
  justify-content:space-evenly;*/
  height: 350px;
}
#fonctionnement .fonctionnement {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
}
#fonctionnement .fonctionnement .div-fonctnmnt {
  height: 60px;
  width: 80%;
  border-radius: 25px;
  background-color: #f2f2f2;
  box-shadow: 5px 5px 5px #e6e6e6;
  align-self: center;
}
#fonctionnement .fonctionnement .etape-fonctnmnt {
  display: flex;
  height: 60px;
  align-items: center;
  font-size: 1.5vh;
  font-family: "Roboto", "sans-serif";
}
#fonctionnement .fonctionnement .etape-fonctnmnt .number {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: 0 3% 0 -3%;
  text-align: center;
  background-color: #9356DC;
  color: #fff;
}
#fonctionnement .fonctionnement .etape-fonctnmnt .number .num {
  margin-top: 3px;
}
#fonctionnement .fonctionnement .etape-fonctnmnt .fa-mobile-screen-button {
  margin: 0 3% 0 3%;
  color: #838383;
  font-size: 2.5vh;
}
#fonctionnement .fonctionnement .etape-fonctnmnt .fa-list {
  margin: 0 3% 0 3%;
  color: #838383;
  font-size: 2.5vh;
}
#fonctionnement .fonctionnement .etape-fonctnmnt .fa-store {
  margin: 0 3% 0 3%;
  color: #838383;
  font-size: 2.5vh;
  color: #9356DC;
}
#fonctionnement .fonctionnement .etape-fonctnmnt .title-fonctnmnt {
  margin: 0 3% 0 3%;
}

/* ****** restaurants ****** */
#main-accueil {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  height: 1230px;
}
#main-accueil h2 {
  margin: 50px 0 0 20px;
}
#main-accueil #articles {
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#main-accueil .restaurant {
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 15px;
  background-color: #fff;
  width: 90%;
  height: 250px;
  box-shadow: 5px 5px 5px #e6e6e6;
  text-decoration: none;
  color: black;
}
#main-accueil .restaurant .img-restaurant {
  width: 100%;
  height: 180px;
  overflow: hidden;
  object-fit: cover;
  object-position: 50% 60%;
  border-radius: 15px 15px 0 0;
}
#main-accueil .restaurant .img-new {
  display: flex;
  flex-direction: row-reverse;
}
#main-accueil .restaurant .img-new .new {
  background-color: #99E2D0;
  width: 80px;
  height: 25px;
  padding-top: 1%;
  border-radius: 1px;
  margin: 3%;
  position: absolute;
}
#main-accueil .restaurant .img-new .new p {
  font-weight: bold;
  text-align: center;
  color: #217460;
  margin-top: 2px;
}
#main-accueil .restaurant .restaurant-descrtn {
  display: flex;
  justify-content: space-evenly;
  margin: 15px;
}
#main-accueil .restaurant .restaurant-descrtn .dscrtn {
  width: 80%;
}
#main-accueil .restaurant .restaurant-descrtn .dscrtn h3 {
  font-family: "Roboto", "sans-serif";
  opacity: 0.75;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
  font-size: 2vh;
}
#main-accueil .restaurant .restaurant-descrtn .dscrtn p {
  font-family: "Roboto", "sans-serif";
  margin-top: 2%;
  opacity: 0.75;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
  font-size: 2vh;
}

.hearts {
  position: relative;
  margin-top: 2%;
}
.hearts .fa-regular {
  font-size: 3vh;
  position: absolute;
}
.hearts .fa-solid {
  opacity: 0;
  font-size: 3vh;
  position: absolute;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hearts .fa-solid:hover {
  animation: fill-heart 350ms cubic-bezier(0.59, 0.09, 0.95, 0.67) both;
}

/* ****** footer ****** */
footer {
  background-color: #353535;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
footer #logo-footer {
  font-size: 2.5vh;
  font-family: "Shrikhand", "sans-serif";
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
}
footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100px;
  font-family: "Roboto", "sans-serif";
}
footer ul li a {
  margin-left: 20px;
  text-decoration: none;
  color: #fff;
  display: flex;
  width: 60%;
}
footer ul li a i {
  width: 10px;
}
footer ul li a p {
  margin-left: 20px;
}

/* **************************
****** page restaurant ******
************************** */
/* ***** header ***** */
.header-restaurant {
  display: flex;
  justify-content: space-around;
  margin: 20px 80px 0 30px;
}
.header-restaurant .fa-arrow-left {
  font-size: 3vh;
  font-weight: bold;
  margin-top: 5px;
}

/* ***** photo restau ***** */
.pic-restau {
  height: 300px;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

/* ***** main/menu ***** */
.main-restau {
  height: 1100px;
  margin-top: -25px;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
}
.main-restau .title-restau {
  padding: 20px 20px 0 20px;
  display: flex;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: 25px 25px 0 0;
}
.main-restau .title-restau .name-restau {
  font-size: 3vh;
  font-family: "Shrikhand", "sans-serif";
}
.main-restau .title-restau .hearts-restau {
  margin-right: 20px;
  margin-top: 5px;
  font-size: 3vh;
}
.main-restau .elem {
  transform: translateY(0);
}
.main-restau .elem--1 {
  animation: menus 1500ms cubic-bezier(0.58, 0.46, 0.16, 0.77);
  animation-delay: 83.3333333333ms;
}
.main-restau .elem--2 {
  animation: menus 1500ms cubic-bezier(0.58, 0.46, 0.16, 0.77);
  animation-delay: 166.6666666667ms;
}
.main-restau .elem--3 {
  animation: menus 1500ms cubic-bezier(0.58, 0.46, 0.16, 0.77);
  animation-delay: 250ms;
}
.main-restau .elem--4 {
  animation: menus 1500ms cubic-bezier(0.58, 0.46, 0.16, 0.77);
  animation-delay: 333.3333333333ms;
}
.main-restau .elem--5 {
  animation: menus 1500ms cubic-bezier(0.58, 0.46, 0.16, 0.77);
  animation-delay: 416.6666666667ms;
}
.main-restau .elem--6 {
  animation: menus 1500ms cubic-bezier(0.58, 0.46, 0.16, 0.77);
  animation-delay: 500ms;
}
.main-restau .elem--7 {
  animation: menus 1500ms cubic-bezier(0.58, 0.46, 0.16, 0.77);
  animation-delay: 583.3333333333ms;
}
.main-restau .elem--8 {
  animation: menus 1500ms cubic-bezier(0.58, 0.46, 0.16, 0.77);
  animation-delay: 666.6666666667ms;
}
.main-restau .elem--9 {
  animation: menus 1500ms cubic-bezier(0.58, 0.46, 0.16, 0.77);
  animation-delay: 750ms;
}
.main-restau .elem--10 {
  animation: menus 1500ms cubic-bezier(0.58, 0.46, 0.16, 0.77);
  animation-delay: 833.3333333333ms;
}
.main-restau .elem--11 {
  animation: menus 1500ms cubic-bezier(0.58, 0.46, 0.16, 0.77);
  animation-delay: 916.6666666667ms;
}
.main-restau .elem--12 {
  animation: menus 1500ms cubic-bezier(0.58, 0.46, 0.16, 0.77);
  animation-delay: 1000ms;
}
.main-restau .dishes-cat {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.main-restau .dishes-cat .dishes-cat-title {
  text-transform: uppercase;
  font-family: "Roboto", "sans-serif";
  font-size: 2vh;
  opacity: 0.75;
}
.main-restau .dishes-cat .underline {
  width: 35px;
  height: 2px;
  margin-left: 15px;
  margin-top: -10px;
  background-color: #99E2D0;
  border: none;
}
.main-restau .dishes-cat .dishes {
  display: flex;
  background-color: #fff;
  border-radius: 25px;
  height: 20%;
  justify-content: space-between;
  /*padding-left: 5%;*/
  margin: 0 2% 0 2%;
  align-items: center;
  box-shadow: 5px 5px 5px #e6e6e6;
}
.main-restau .dishes-cat .dishes:hover .price {
  animation: price 500ms cubic-bezier(0.4, 0.78, 0.54, 1.06) forwards;
}
.main-restau .dishes-cat .dishes:hover .validation {
  animation: valid 500ms cubic-bezier(0.4, 0.78, 0.54, 1.06) forwards;
}
.main-restau .dishes-cat .dishes:hover .fa-circle-check {
  animation: check 500ms ease-out;
}
.main-restau .dishes-cat .dishes-name {
  font-family: "Roboto", "sans-serif";
  width: 95%;
  margin-left: 3%;
}
.main-restau .dishes-cat .dishes-name h3 {
  opacity: 0.75;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
  font-size: 2vh;
}
.main-restau .dishes-cat .dishes-name p {
  opacity: 0.75;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
  font-size: 2vh;
}
.main-restau .dishes-cat .valid {
  position: relative;
  display: flex;
  height: 100%;
  width: 5%;
  min-width: 100px;
  justify-content: center;
  align-items: center;
}
.main-restau .dishes-cat .valid .price {
  position: absolute;
  font-family: "Roboto", "sans-serif";
  font-size: 2vh;
  font-weight: bold;
  transform: translate(0);
}
.main-restau .dishes-cat .valid .validation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border-radius: 0 25px 25px 0;
  color: #fff;
  font-size: 3vh;
  background-color: #99E2D0;
  transform: translateX(80%);
  visibility: hidden;
}

/*# sourceMappingURL=main.css.map */
