/* *** couleurs *** */
$primary-clr: #9356DC;
$primary-clr-light:lighten($primary-clr, 5%);
$secondary-clr: #FF79DA;
$secondary-clr-light:lighten($secondary-clr, 5%);
$tertiary-clr: #99E2D0;
$bg-darken10-clr:darken(#fff, 10%);
$bg-darken5-clr:darken(#fff, 5%);
$btn-color:linear-gradient($secondary-clr, $primary-clr);
/* *** fonts *** */
$title-font:'Shrikhand', 'sans-serif';
$text-font:'Roboto', 'sans-serif';
$text-size:2vh;
$title-size:3vh;
$title-scnd-size:2.5vh;
/* *** elements *** */
$num-elem:12;
$anim-dur:1000ms;
$anim-delay:$anim-dur / $num-elem;
/* *** breakpoints *** */
$breakpoints:(
        tablet: 768px, desktop: 992px
);
